@charset "UTF-8";

*{
-webkit-text-size-adjust:none;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea,button,select{
margin:0;
padding:0;
font-family:'NotoSansKR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
font-weight:normal;
box-sizing:border-box;
    
}
body{color:#222;
    line-height: 1;
/*
-webkit-user-select:none;
-webkit-touch-callout:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);*/

}
li{
list-style:none;
}
a{color:inherit;text-decoration:none;cursor:pointer} button{border:none;background:none;cursor:pointer;outline:none;box-sizing:border-box;} 
a[href^="tel"]{
font-style:normal;
}
a {outline : none;box-sizing:border-box;}
a img {outline : none;}
img {border : 0;}

address, caption, em, var{
font-style:normal;
font-weight:normal;
}
input, textarea, select{
letter-spacing:normal;
}
ol, ul, dl{
list-style:none;
}
fieldset, img{
border:0;
}
legend, caption{
display:none;
}
img{
border:0;
vertical-align:top;
}
hr{
display:none;
}
table{
border-collapse:collapse;
border-spacing:0;
}
br{
letter-spacing:normal;
}
p{
letter-spacing:normal;
}
input{
vertical-align:middle;
}


/* check button*/
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    
}

input.checkbx[type="checkbox"]:checked + label,
input.checkbx[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    
}
input.checkbx[type="checkbox"]:checked + label:before,
input.checkbx[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
}


input.checkbx[type="checkbox"]:checked + label:after,
input.checkbx[type="checkbox"]:not(:checked) + label:after {
    content: '';
  
    /* width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; */
    position: absolute;
    top: 0px;
    left: 5px;  
  
  height:12px;
  width:6px;
  border-bottom:4px solid #BF2011;
  border-right: 4px solid #BF2011;
  -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
   
}
input.checkbx[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transform: rotate(35deg);
}
input.checkbx[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    transform: rotate(45deg);
}

input[type=text],select {
	width: 100%;
	padding: 5px 10px;
	display: inline-block;
	border: none;

	box-sizing: border-box;
	background:#ffffff;
  }
  input.etc[type=text] {
	width: 100%;
	padding: 5px 10px;
	display: inline-block;
	border:1px solid #cccccc;
	box-sizing: border-box;
	background:#ffffff;
  }

  input.note[type=text] {
	width: 100%;
	padding: 10px 10px;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 5px;
	background:#f2f2f2;
  }

  input::placeholder {
	color: #bdbdbd;
	
  }
  textarea::placeholder {
	color: #bdbdbd;
	
  }
  /* input[type=text]:focus {
	background-color: lightblue;
  } */



